@import "_variables.scss";
@import "_mixins.scss";

ul {
  &.navigation {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline;
      padding: 0 .4rem;
      margin: 0.1rem;
      cursor: pointer;
      background-color: $navigation-text-background;

      &.current {
        @include navigation-highlight;
      }
    }
  }
}

.bs-input {
  text-align: left;

  &.error {
    ul {
      color: brown;
      font-size: 70%;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        padding: 0.1rem 0.2rem 0.1rem 0;
      }
    }
    input {
      border-color: brown !important;
      &:focus {
        border-color:red !important;

      }
    }
  }

  .layout {
    display: flex;
    flex-flow: row;

    input {
      flex-grow: 2;
    }
  }

  label {
    display: block;
    text-align: left;
    font-size: 80%;
    font-weight: bold;
  }

  input {
    display: inline;
    border: 1px solid gray;
    outline: none;
    padding: 0.3rem 0.2rem;
    min-width: 32px;

    &:focus {
      border: 1px solid #2a687a;

      + div > button {
        border: 1px solid #2a687a;
      }
    }
  }

  &.with-button {
    input {
      border-right: none;

      &:focus {
        border: 1px solid #2a687a;
        border-right: none;
      }
    }

    button {
      border: 1px solid gray;
      cursor: pointer;
      padding: 0.3rem 0.2rem;

      &:hover {
        background-color: #2a687a;
      }
    }

    .append-button {
      display: inline;
    }
  }
}

.bs-table {
  color: $bs-table-text-color;

  width: 100%;
  @include container-shadow;

  .bs-table-label {
    background-color: $bs-table-title-background;
    color: $bs-table-title-color;
    font-size: 1.3rem;
    padding: 0.4rem 04rem;
    text-transform: uppercase;
    text-align: right;
  }

  .bs-table-info {

  }

  table {
    font-size: 1rem;
    border: 1px solid $bs-table-border-color;

    thead {
      tr {
        background-color: $bs-table-header-background;
        color: $bs-table-header-color;
      }
    }

    tbody {
      tr {
        border: 1px solid $bs-table-border-color;
        background-color: $bs-table-row-background;

        &.odd {
          background-color: $bs-table-alt-row-background;

          &:HOVER {
            @include bs-table-alt-row-hovered;
          }
        }

        &.even {

        }

        &:HOVER {
          @include bs-table-row-hovered;
        }
      }
    }

    tfoot {
      .bs-table-navigation {
        color: $bs-table-footer-color;
        background-color: $bs-table-footer-background;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .item {
          padding: $bs-table-navigation-padding;

          &.middle {
            background-color: $bs-table-navigation-background;
            color: $bs-table-navigation-color;
            flex-grow: 2;
          }

          &.left {

          }

          &.right {

          }
        }

      }
    }


  }

}
